* {
  font-family: 'Play', sans-serif;
  color: #348fff;
  font-size: 30px;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(1,4,24);
}

h2{
  font-size: 38px; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#header {
  z-index: 999;
  background-color: #282a39;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;

  position: fixed;
  vertical-align: top;
  width: 100%;
  top: 0;
  left: 0;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#title {
  justify-content:flex-start;
}

.searchbar input {
  background-color: #282c34;
  border: solid #ffffff 1px;
  border-radius: 20px;
  color: #ffffff;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  position: relative;
  width: 98%;
  left: 20%;
}

#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-button {
  font-size: calc(8px + 1.5vmin);
  justify-content: center;
  color: #ffffff;
  text-decoration: underline;
  margin: 10px;
}

.nav-button:hover {
  color: #348fff;
}

#spacer {
  margin-top: 150px;
}

#movie-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
}


#movie-list-container img{
  flex: 0 1 auto;
  border: solid #348fff 3px;
  height: 380px;
  margin: 10px;
  cursor: pointer;
  outline: 4px inset rgba(0, 0, 0, 0);
}

#movie-list-container img:hover{
  box-shadow: 0px 0px 10px 5px #ffffff;
  border: solid #ffffff 1px;
  transform: scale(1.1);
}

.view-all {
  color: #ffffff;
  background-color: #348fff;
  border-radius: 20px;
  border:solid #348fff 3px;
  font-size: 25px;
}

.view-all:hover {
  background-color: #348fff;
  border-radius: 20px;
  border:solid #ffffff 3px;
  transform: scale(1.2);
}

.pages {
  display: flex;
  justify-content: center;
  width: 100%;
}

.page-button {
  margin: 20px;
  color: #ffffff;
  background-color: #348fff;
  border-radius: 20px;
  border: solid #348fff 3px;
  font-size: 25px;
}

.page-button:hover {
  background-color: #348fff;
  border-radius: 20px;
  border:solid #ffffff 3px;
  transform: scale(1.2);
}

.star-rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.star-rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.star-rating > span:hover:before,
.star-rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}


 
.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background-color: #282a39;
  /* background: #fff; */
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
 
.close-icon {
  color: red;
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.close-icon:hover {
  box-shadow: 0px 0px 10px 5px #ffffff;
  border: solid #ffffff 1px;
}

/* button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on {
  color: #000;
}

.off {
  color: #ccc;
} */

.star {
  color: #ff9933;
  cursor: pointer;
}